<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar navbar-light bg-light justify-content-between px-3">
  <form class="form-inline d-flex gap-3">
    <!-- Elementy stałe -->
    <h6 >SpreadsheetApp</h6>

    <ng-container *ngIf="getIsLoggedIn(); else notLoggedIn">
      <!-- Elementy do pokazania, gdy użytkownik jest zalogowany -->
      
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </ng-container>
  
    <ng-template #notLoggedIn>
      <!-- Elementy do pokazania, gdy użytkownik NIE jest zalogowany -->
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
      
    </ng-template>

  </form>
  </nav>
  


<app-alert></app-alert>
<router-outlet>

</router-outlet>
