
.card {
    max-width: 400px; 
    margin: 0 auto; /* Wycentrowanie na ekranie */
    padding: 20px; /* Odstęp od krawędzi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodanie lekkiego cienia */
    border-radius: 8px; 
    color:#17A15E;
    
  }

  .card-body{
    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px ;
  }

 
  .btn {
    margin-top: 10px; 
    background-color: #17A15E;
    color:white;
    
  }
  .btn-link{
    color:#0cf2db;
    background-color:inherit;
  }



  .feedback{
  
    text-align: center;
  }
  .succes{
    color: greenyellow ;
  
  }
  .error{
    color: red;
  }
  