<app-modal *ngIf="isModalVisible"></app-modal>

<div class="handsontable-container" >
  <div class="name-box d-flex" >
    <h3 *ngIf="!isEditingName" (dblclick)="startEditingName()">{{ spreadsheetData?.spreadsheet_name }}</h3>
    <i class="bi bi-pencil-square"></i>
  </div>
  <input *ngIf="isEditingName && spreadsheetData" [(ngModel)]="spreadsheetData.spreadsheet_name" (blur)="stopEditingName()" class="spreadsheet-name-input" />
    <hot-table [settings]="hotSettings" [hotId]="instanceId"></hot-table>
    <div class="sheet-buttons">
      <ul class="nav nav-tabs">
        <li class="nav-link active"
        *ngFor="let sheet of spreadsheetData?.sheets; let i = index" (click)="switchSheet(i)"
        [class.active]="i === activeSheetIndex"
        (contextmenu)="showContextMenu($event,i)">
          {{ sheet?.name }}
          
        </li>
        <li class="nav-link " (click)="addSheet()"><i class="bi bi-plus-circle"></i></li>
      </ul>
      <!-- <button class="btn btn-primary" (click)="saveSheetData()">Save</button> -->
      <!-- <button  class="btn btn-primary" (click)=" updateSpreadsheet()">Save</button> -->
      <button *ngIf="spreadsheetExist" class="btn btn-primary" (click)=" updateSpreadsheet()">Save</button>
      <button *ngIf="!spreadsheetExist" class="btn btn-primary" (click)="createSpreadsheet()" >Create</button>
      <button class="btn btn-primary" (click)="exportToXLSX()">Export</button>
    </div>
  </div> 

  <div class="context-menu" [style.display]="contextMenuVisible ? 'block' : 'none'" (mouseleave)="hideContextMenu()">
    <ul>
      <li (click)="deleteSheet()">Delete</li>
      <li >
        <input *ngIf="isEditingSheetName" [(ngModel)]="editedSheetName" (blur)="stopEditingSheetName()" class="spreadsheet-sheet-input" />
        <span *ngIf="!isEditingSheetName" (click)="startEditingSheetName()">
          Rename
        </span>



      </li>
    </ul>
  </div>
<!-- <div #hotContainer>
  
  <button class="btn btn-primary" (click)="saveData()">Save</button>
</div> -->



